<mat-card id="moth-card">
  <mat-card-title>Recept kategóriák</mat-card-title>
 <mat-card class="inline-block">

  <mat-card-header>
    <mat-card-title>
      <a routerLink="/appetizers/open">
        <button mat-raised-button color="warn">ELŐÉTELEK</button>
      </a>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image src="../assets/images/appetizer.jpg" alt="Photo of an appetizers">
  <mat-card-content>
    Kattints a recept kategóriájára és nézd meg a recepteket.
  </mat-card-content>
 </mat-card>

 <mat-card class="inline-block">
  <mat-card-header>
    <mat-card-title>
      <a routerLink="/mainfood/open">
        <button mat-raised-button color="warn">FŐÉTELEK</button>
      </a>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image src="../assets/images/mainfood.jpg" alt="Photo of a main Foods">
  <mat-card-content>
    Kattints a recept kategóriájára és nézd meg a recepteket.
  </mat-card-content>
</mat-card>

 <mat-card class="inline-block">
    <mat-card-header>
      <mat-card-title>
        <a routerLink="/desserts/open">
          <button mat-raised-button color="warn">DESSZERTEK</button>
        </a>
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image src="../assets/images/desserts.jpg" alt="Photo of a desserts">
    <mat-card-content>
      Kattints a recept kategóriájára és nézd meg a recepteket.
    </mat-card-content>
</mat-card>



