@import '~@angular/material/theming';
@include mat-core();

$myissue-primary: mat-palette($mat-blue);
$myissue-accent: mat-palette($mat-orange);
$myissue-warn: mat-palette($mat-red);

$myissue-theme: mat-light-theme((
	color: (
		primary: $myissue-primary,
		accent: $myissue-accent,
		warn: $myissue-warn,
		)
));


@include angular-material-theme($myissue-theme);
