<div *ngIf="router.url !== '/' && router.url !== '/404'; else nodrawer">
	<mat-toolbar color="primary">
		<mat-toolbar-row>
			<button class="menu primary" mat-icon-button (click)="drawer.toggle()" matTooltip="Menü">
				<span class="material-icons">widgets</span>
			</button>
			<span style="margin: 0 0 0 15px;">Recepteskönyv</span>
		</mat-toolbar-row>
	</mat-toolbar>
	<mat-drawer-container fullscreen>
		<mat-drawer #drawer mode="side" opened>
			<app-menu></app-menu>
		</mat-drawer>
		<mat-drawer-content>
			<main>
				<router-outlet></router-outlet>
			</main>
		</mat-drawer-content>
	</mat-drawer-container>
</div>
<ng-template #nodrawer>
	<div class="wrapper dynamic-background"> <!--ennek kezdő felületnek a formázása a stylesben-->
		<router-outlet></router-outlet>
	</div>
</ng-template> 